:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --buttons-color: #f5f4fa;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

/* Логотип */

.logo {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-element {
  color: var(--primary-accent-color);
}

/* Навігація */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-nav .primary.link {
  color: var(--primary-accent-color);
}

.site-nav .primary.link:hover,
.site-nav .primary.link:focus {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--primary-accent-color);
}

.contact {
  list-style: none;
  color: var(--primary-text-color);
  text-decoration: none;
}

.contact:hover,
.contact:focus {
  color: var(--primary-accent-color);
}

/* Hero */

.hero {
  background-color: #2f303a;
  text-align: center;
  margin-bottom: 94px;
}

.button {
  font-family: inherit;
  cursor: pointer;
}

.hero-button {
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 216px;
}

.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
}

.hero-title {
  color: var(--secondary-accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

/* Особливості */

.features .container {
  /* display: inline-block; */
  margin-bottom: 94px;
}

.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Чим ми займаємося */

.works-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

/* Наша команда */

.team {
  background-color: var(--buttons-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.team-item {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.team-spec {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 30px;
}

.team-img {
  padding-bottom: 30px;
  background-color: var(--secondary-accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Футер */

.footer {
  background-color: #2f303a;
  color: var(--secondary-accent-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  color: var(--secondary-accent-color);

  display: inline-block;
  margin-bottom: 20px;
}

.footer .contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer .contact:hover,
.footer .contact:focus {
  color: var(--primary-accent-color);
}
.address {
  font-style: normal;
}

.address-item {
  margin-bottom: 9px;
}

/* portfolio */

.examples .button {
  color: var(--title-text-color);
  background-color: var(--buttons-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.examples .button:hover,
.examples .button:focus {
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
}

.examples-titles {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
